<launch>

   <node pkg="rob337-p1" type="main" name="main_rviz"></node>
   ros::Duration(2.0).sleep();
   <node pkg="rob337-p1" type="recorder" name="exhibit_recorder" output="screen"></node>
   ros::Duration(2.0).sleep();
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rob337-p1)/config/museum.rviz"></node>
</launch> 